.profile {
    margin: 2rem;

    button {
        margin-bottom: 1rem;
    }

    .link {
        text-decoration: underline;
        font-family: $font-primary;
        font-weight: $fontweight-normal;
        color: #000000;
        &:hover {
            font-weight: $fontweight-semibold;
        }
    }
}
