.profile {
    margin: 2rem;

    button {
        margin-bottom: 1rem;
    }
    .success {
        display: flex;
        align-items: center;
        font-weight: $fontweight-semibold;
        color: #3ba86d;
        margin-bottom: 1rem;
    }
    .icon {
        margin-right: 0.5rem;
    }
}
