.profile {
    margin: 2rem;

    button {
        margin-bottom: 1rem;
    }

    .update-link {
        text-decoration: underline;
        font-family: $font-primary;
        font-weight: $fontweight-normal;
        color: #000000;
    }
}
