.NotFound {
    h1 {
        position: absolute;
        left: 2rem;
        top: 7.8rem;

        font-family: "Fira Sans";
        font-size: 20px;
        color: #000000;
    }

    p {
        position: absolute;
        width: 14rem;
        left: 2rem;
        top: 10rem;

        font-family: "Fira Sans";
        font-size: 20px;
        color: #000000;
    }
}
