$color-primary: #284b63;
$color-error: #d6092e;
$color-success: #3ba86d;
$color-disabled: #9c9c9c;
$font-primary: "Fira Sans", sans-serif;
$font-title: "Quicksand", sans-serif;
$breakpoint-small: 375px;
$fontweight-normal: 400;
$fontweight-semibold: 600;
$fontweight-bold: 800;
