.home {
    margin: 2rem;

    ul {
        list-style: none;
        padding: 0;
    }
    .todoo {
        display: flex;
        align-items: center;
        .done {
            text-decoration: line-through;
        }
    }
    .round {
        position: fixed;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        right: 2rem;
        bottom: 2rem;
    }

    .row-link {
        .link {
            margin-right: 1rem;
        }
        display: flex;
    }

    .row {
        display: flex;
        overflow-x: scroll;
        .card {
            p {
                padding-left: 1rem;
            }
            display: inline-block;
            min-width: 8rem;
            background-color: white;
            border-radius: 0.5rem;
            height: 5rem;
            margin-right: 1.5rem;
        }
    }
}
