.home {
    margin: 2rem;

    ul {
            list-style: none;
            padding: 0;
        }
    .todoo {
        display: flex;
        align-items: center;
        .done {
            text-decoration: line-through;
        }
    }
}
