.menu {
    text-transform: uppercase;
    background-color: $color-primary;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    font-weight: 400;
    transition: height 0.3s;
    height: 4rem;

    .menu-item,
    .page-title {
        height: 4rem;
        display: flex;
        align-items: center;
    }
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        font-weight: 600;
    }

    .menu-item {
        display: none;
    }

    .icon {
        width: 5rem;
    }

    &-open {
        transition: height 0.3s;

        .menu-item {
            display: flex;
        }

        height: 100vh;
    }
}
