.menu {
    text-transform: uppercase;
    background-color: $color-primary;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: height 0.3s;
    height: 4rem;

    .menu-item,
    .page-title {
        /* for Quicksand regular means "500" */
        font-weight: 500;
        padding: 0 1rem;
        min-height: 4rem;
        display: flex;
        align-items: center;

        .icon {
            margin-right: 2rem;
            height: 2rem;
            width: 2rem;
        }

        .label {
            width: 8rem;
            flex-grow: 1;
            word-break: break-word;
            font-size: 1.5rem;
            a {
                font-family: $font-title;
            }
        }
    }

    .page-title,
    .page-title:hover {
        font-weight: 700;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        font-weight: $fontweight-semibold;
    }

    .menu-item {
        display: none;
    }

    &-open {
        transition: height 0.3s;

        .menu-item {
            display: flex;
        }

        height: 100vh;
    }
}
