@import "./styles/Variables.scss";

/*general*/
:root {
    font-size: 20px;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    font-family: $font-primary;
}

body,
html {
    box-sizing: border-box;
    background-color: #eef0eb;
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 2rem;
    font-weight: $fontweight-semibold;
    font-size: 1rem;
}

h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: $fontweight-semibold;
    font-size: 1rem;
}
strong {
    font-weight: $fontweight-semibold;
}

.success {
    display: flex;
    align-items: center;
    font-weight: $fontweight-semibold;
    color: $color-success;
    margin-bottom: 1rem;
}

.icon {
    margin-right: 0.5rem;
}

.link {
    text-decoration: underline;
    font-family: $font-primary;
    font-weight: $fontweight-normal;
    color: #000000;
    &:hover {
        cursor: pointer;
        font-weight: $fontweight-semibold;
    }
}

button {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    color: white;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    font-size: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    &.secondary {
        color: $color-primary;
        background-color: white;
    }

    &:disabled {
        background-color: $color-disabled;
        border: 1px solid $color-disabled;
        &:hover {
            cursor: wait;
        }
    }

    &.warning {
        border: 1px solid $color-warning;
        &.primary {
            background-color: $color-warning;
            &:disabled {
                background-color: $color-warning-disabled;
                border: 1px solid $color-warning-disabled;
            }
        }
        &.secondary {
            color: $color-warning;
            background-color: white;
            &:disabled {
                color: $color-warning-disabled;
                border: 1px solid $color-warning-disabled;
            }
        }
    }
}

input {
    &:disabled {
        background-color: white;
        border: 1px solid $color-disabled;
    }
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover,
.label:hover,
button:hover {
    /* for Quicksand bold means fontweight-700! (not 800) */
    font-weight: 700;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
}

form {
    .primary {
        margin-top: 2rem;
    }
}

input,
select {
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    & + .error {
        margin-top: 0;
    }
}

label {
    font-family: $font-primary;
    margin-bottom: 0.5rem;
}

/* others */

.todoname {
    &:hover {
        font-weight: $fontweight-semibold;
        cursor: pointer;
    }
}

.bolletje {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;

    &.col-0 {
        border: 1px solid black;
    }

    &.col-1,
    &.col-1 * {
        background-color: #f02d50;
        color: #f02d50;
    }

    &.col-2,
    &.col-2 * {
        background-color: #3ba86d;
        color: #3ba86d;
    }

    &.col-3,
    &.col-3 * {
        background-color: #69b8e4;
        color: #69b8e4;
    }

    &.col-4,
    &.col-4 * {
        background-color: #e7c826;
        color: #e7c826;
    }

    &.col-5,
    &.col-5 * {
        background-color: #7c40c8;
        color: #7c40c8;
    }

    &.col-6,
    &.col-6 * {
        background-color: #f89c13;
        color: #f89c13;
    }

    &.col-7,
    &.col-7 * {
        background-color: #e96bdc;
        color: #e96bdc;
    }

    &.col-8,
    &.col-8 * {
        background-color: #4b4a4a;
        color: #4b4a4a;
    }

    &.col-9,
    &.col-9 * {
        background-color: #4e3313;
        color: #4e3313;
    }

    &.col-10,
    &.col-10 * {
        background-color: #000000;
        color: #000000;
    }

    &.col-11,
    &.col-11 * {
        background-color: #120b69;
        color: #120b69;
    }

    &.col-12,
    &.col-12 * {
        background-color: #780505;
        color: #780505;
    }

    &.col-13,
    &.col-13 * {
        background-color: #0f4632;
        color: #0f4632;
    }

    &.col-14,
    &.col-14 * {
        background-color: #42083c;
        color: #42083c;
    }
}
