@import "./Variables.scss";
@import "./components/home/Home.scss";
@import "./components/home/Menu.scss";
@import "./components/Settings/Settings.scss";
@import "./components/Settings/CategoryForm.scss";
@import "./components/Settings/Modal.scss";
@import "./components/NotFound/NotFound.scss";

/*general*/
:root {
    font-size: 20px;
}

* {
    font-family: $font-primary;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 110rem;
}

/* form */
.error {
    margin: 0.5rem 0 1rem 0;
    font-weight: 700;
    color: #D6092E;

}
button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-color: $color-primary;
    background-color: $color-primary;
    font-size: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    &.secondary {
        background-color: rgb(185, 181, 181);
    }
}

.input-container {
    display: flex;
    flex-direction: column;
}

input, select {
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    &+.error {
        margin-top: 0;
    }
}

label {
    margin-bottom: 0.5rem;
}

/* others */
.bolletje {
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: red;

    &.col-1 {
        background-color: #f02d50;
    }

    &.col-2 {
        background-color: #3ba86d;
    }

    &.col-3 {
        background-color: #69b8e4;
    }

    &.col-4 {
        background-color: #e7c826;
    }

    &.col-5 {
        background-color: #7c40c8;
    }

    &.col-6 {
        background-color: #f89c13;
    }

    &.col-7 {
        background-color: #e96bdc;
    }

    &.col-8 {
        background-color: #4b4a4a;
    }

    &.col-9 {
        background-color: #4e3313;
    }

    &.col-10 {
        background-color: #000000;
    }

    &.col-11 {
        background-color: #120b69;
    }

    &.col-12 {
        background-color: #780505;
    }

    &.col-13 {
        background-color: #0f4632;
    }

    &.col-14 {
        background-color: #42083c;
    }
}
