.Modal {
    margin: 0 2rem;
    top: 10rem;
    left: 0;
    position: absolute;
    color: $color-warning;
    padding: 3rem 1rem;
    border: 1px solid $color-warning;
    background-color: white;
}

.modal-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}
