.settings {
    margin: 0 2rem;

    .new-form-container,
    .edit-form-container {
        transition: height 0.8s;
        height: 21rem;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    li {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    ul {
        list-style: none;
        background-color: white;
        padding: 0;
    }
    .cat-label {
        display: flex;
        .cat-desc {
            /* Mobile M*/
            @media screen and (max-width: $breakpoint-small) {
                width: 5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .icon {
        padding: 0.4rem;
    }
}
