.settings {
    margin: 0 2rem;

    .new-form-container,
    .edit-form-container {
        transition: height 0.8s;
        height: 21rem;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    li {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    ul {
        list-style: none;
        background-color: rgb(175, 163, 163);
        padding: 0;
    }
    .cat-label {
        display: flex;
    }

    .bolletje {
        margin-right: 0.5rem;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        background-color: red;

        &.col-1 {
            background-color: #f02d50;
        }
        &.col-2 {
            background-color: #3ba86d;
        }
        &.col-3 {
            background-color: #69b8e4;
        }
        &.col-4 {
            background-color: #e7c826;
        }
        &.col-5 {
            background-color: #7c40c8;
        }
        &.col-6 {
            background-color: #f89c13;
        }
        &.col-7 {
            background-color: #e96bdc;
        }
        &.col-8 {
            background-color: #4b4a4a;
        }
        &.col-9 {
            background-color: #4e3313;
        }
        &.col-10 {
            background-color: #000000;
        }
        &.col-11 {
            background-color: #120b69;
        }
        &.col-12 {
            background-color: #780505;
        }
        &.col-13 {
            background-color: #0f4632;
        }
        &.col-14 {
            background-color: #42083c;
        }
    }
    .icon {
        padding: 0.4rem;
    }
}
