.settings {
    margin: 0 2rem;

    .new-form-container,
    .edit-form-container {
        transition: height 0.8s;
        height: 21rem;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    li {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    ul {
        list-style: none;
        background-color: rgb(175, 163, 163);
        padding: 0;
    }
    .cat-label {
        display: flex;
    }
    .icon {
        padding: 0.4rem;
    }
}
